config MTD_SPLIT
	def_bool n
	help
	  Generic MTD split support.

config MTD_SPLIT_SUPPORT
	def_bool MTD = y

comment "Rootfs partition parsers"

config MTD_SPLIT_SQUASHFS_ROOT
	bool "Squashfs based root partition parser"
	depends on MTD_SPLIT_SUPPORT
	select MTD_SPLIT
	default n
	help
	  This provides a parsing function which allows to detect the
	  offset and size of the unused portion of a rootfs partition
	  containing a squashfs.

