// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2024 WirelessRoad.

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>


/dts-v1/;

#include "sun8i-t113s.dtsi"

/ {
	model = "WR T113 SoM";
	compatible = "wirelessroad,t113-netsom", "allwinner,sun8i-t113s";

    aliases {
        ethernet0 = &emac;
        serial1 = &uart1;
    };

    chosen {
        stdout-path = "serial1:115200n8";    
    };

    // panel_rgb: panel-rgb {
    //     compatible = "cdtech,s070pws19hp-fc21";
    //     power-supply = <&reg_vcc3v3>;
       
    //     port {
    //         panel_input: endpoint {
    //         remote-endpoint = <&tcon_lcd0_out_rgb>;
    //         };
    //     };
    //     panel-timing {
    //         clock-frequency = <51200000>;
    //         hactive = <1024>;
    //         vactive = <600>;
    //         hfront-porch = <160>;
    //         hback-porch = <160>;
    //         hsync-len = <41>;
    //         vback-porch = <23>;
    //         vfront-porch = <12>;
    //         vsync-len = <10>;
    //     };
    // };
  
    reg_vcc5v: regulator-5v {
        compatible = "regulator-fixed";
        regulator-name = "vcc-5v";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        regulator-always-on;
    };
    reg_vcc3v3: regulator-3v3 {
        compatible = "regulator-fixed";
        regulator-name = "vcc-3v3";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        vin-supply = <&reg_vcc5v>;
        regulator-always-on;
    };

    reg_vcc_core: regulator-core {
        compatible = "regulator-fixed";
        regulator-name = "vcc-core";
        regulator-min-microvolt = <880000>;
        regulator-max-microvolt = <880000>;
        vin-supply = <&reg_vcc5v>;
        regulator-always-on;
    };
};



&cpu0 {
	cpu-supply = <&reg_vcc_core>;
    clock-frequency = <1200000000>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
    clock-frequency = <1200000000>;
};

&dcxo {
    clock-frequency = <24000000>;
};

&ehci1 {
	status = "okay";
};

&emac {
    pinctrl-names = "default";
    pinctrl-0 = <&rmii_pg_pins>;
    phy-mode = "rmii";
    phy-handle = <&ext_rmii_phy>;
    phy-supply = <&reg_vcc3v3>;
    status = "okay";
};

&mdio {
    ext_rmii_phy: ethernet-phy@0 {
        compatible = "ethernet-phy-id0022.1561", "ethernet-phy-ieee802.3-c22";
        clocks = <&ccu CLK_EMAC_25M>;
        clock-names = "ext-clk";
        reg = <0>;
    };
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_vcc3v3>;
	non-removable;
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pio {
    vcc-pb-supply = <&reg_vcc3v3>;
	vcc-pc-supply = <&reg_vcc3v3>;
	vcc-pd-supply = <&reg_vcc3v3>;
	vcc-pe-supply = <&reg_vcc3v3>;
	vcc-pf-supply = <&reg_vcc3v3>;
	vcc-pg-supply = <&reg_vcc3v3>;

    rmii_pg_pins: rmii-pg-pins {
        pins = "PG0", "PG1", "PG2", "PG3", "PG4",
                "PG5", "PG11", "PG12", "PG13", "PG14", "PG15";
        function = "emac";
    };
};

&spi0 {
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins>;
    status = "okay";
    flash@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "mxicy,w25q256", "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <50000000>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
            partition@0 {
                label = "u-boot";
                reg = <0x0000000 0x80000>;
                read-only;
            };
            partition@80000 {
                label = "u-boot env";
                reg = <0x0080000 0x10000>;
            };
            partition@90000 {
                label = "kernel";
                reg = <0x0090000 0x400000>;
            };
            partition@490000 {
                label = "rootfs";
                reg = <0x0490000 0x1b70000>;
            };
        };
    };
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart1_pg6_pins>;
    status = "okay";
};


&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&wdt {
    status = "okay";
};
